# Entornos virtuales
venv/
env/
.env

# Archivos de cache y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales de audio/video y pruebas del usuario
*.mp3
*.mp4
*.wav
*.ogg
*.flac
*.aac
*.mkv
*.mov
*.avi
